
.heading {
     background:white;
     min-height: 150px;
     color: black;
}
body
{
    z-index:0;
}
.topdescript
{
    color: black;
    padding:15px;
    text-shadow: #444 0 1px 1px;
     background:transparent;
    position: relative;
    
}
#xyz
{
    z-index: 1;
}
#logo
{
   display: block;
   margin: 0 auto;
   width:120px;
   height:150px;
 }
.opt
{
    font-size:20px;
    padding:5px;
    position: relative;
}
.fixit
{
    position:fixed;
    top:0; 
    width:100%;
}
#bannerphoto
{   height:auto;
    width: 100%;
}

#motto
{  margin-top:20px;
   font-size:40px;
    padding:20px;
}
.abtschool
{
   font-size:25px;   
}
.abtschool1
{
     font-size:25px; 
     margin-bottom:100px;
}
.footer,.links
{   clear:both;
    background-color:black;
    height:150px;
}

ul.links li
{
    list-style-type: none;
    font-size:20px;
    padding:22px;
}
ul.links li a 
{
    color:gray;
}
ul.links li a:hover
{
    color:white;
    text-decoration: none;
    
}
.achievebox
{
    border-width: 2px;
    border-color:black;
    border-style: solid;
}
.vir
{
     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
     margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
}